.profile-img {
    padding: 5px;
    width: 35px;
    height: 35px;
    // margin-right: auto;
}

.profile-img:hover {
    background-color: lightgray;
    cursor: pointer;
    padding: 5px;
}

.popover__btn {
    border-radius: 100%; 
    padding: 2px; 
    margin: 0px;
}