// @import './scss/index';

#root {
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    font-style: bold;
}

@media screen and (min-width: 768px) {
    #root {
        // padding: 0vh 15vw;
    }
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10em;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 0vh 15vw !important;
}

@media screen and (max-width: 608px) {
    .cardContainer {
        padding: 0vh 0vw;
        margin-top: 0px;
        row-gap: 2rem;
    }
}