#wrapper {
  padding: 0vh 15vw;
  margin: 30px auto;
  // display: 
}

.imagePreview {
  height: 40px;
}


.col {
  padding: 5px;
  max-width: fit-content;
  cursor: pointer;
  display: flex;
  border: white solid 1px;
  gap: 10px;
  align-items: center;
  p {
    margin: 0px;
  }
}
.col:hover {
  border: lightgray solid 1px;
  border-radius: 5px;
}

@media screen and (min-width: 610px) {}