.imagePreview {
    height: 80%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col:hover {
    scale: 1.1;
    cursor:pointer;
}

.col {
    max-width: 150px;
}

#col-empty {
    display: none;
}

#col-empty:hover {
    cursor: default;
}


#intro {
    // background: transparent  auto cover no-repeat top center;
    background-image: linear-gradient(#f2d870, #efde6fca, #efd76f00);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 400px;
    // margin-bottom: 100px;

    p {
        text-align: center;
    }
}

#hero {
    position: relative;
    padding: 0vh 15vw !important;
    
    // top: 250px;
}

#intro-img-static {
    // align-self: start;
}

h3 {
    text-align: center;
    color: rgb(72, 72, 72);
    font-style: italic;
    margin-bottom: 1rem;
    background: linear-gradient(#ffe8b92b, rgba(255, 248, 231, 0));
}

@media screen and (max-width: 480px) {
    #hero {
        // position: relative;
        // top: 300px;
    }

    #intro {
        // margin-bottom: 250px;
    }
}


@media screen and (min-width: 610px) {
    #hero {
        position: relative;
        
        top:150px;
    }
}