.card__hover:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(138, 138, 138);
    transform: scale(1.1);
}

.heart__button {
    height: 25px;
    width: 25px;
}

.cardComponent {
    margin: 20px 0px;
    flex: 0 1 200px;
    flex-wrap: wrap;
    height: 200px;
    // width: 200px;
    max-height: 100px;
    min-width: 100px;
    border: none;
    padding: auto;
    // min-height: 50px;
    #cardBody {
        // padding: 0px !important;
        height: 100%;
    }
    .card-img {
        // height: 100%;
        max-height: 200px;
        width: auto;
        padding: 5px;
        overflow: hidden;
    }

    span {
        font-size: .7em;
    }
    a {
        height: 100%;
    }

}

.cardComponent:nth-last-child(-n + 3) {
    display: none;
}



@media screen and (min-width: 608px) {
    .cardComponent {
        
        span {
            font-size: .9em;
        }
    }

    .cardComponent:nth-last-child(-n + 3) {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .cardComponent {
        // height: 300px;
        flex-grow: 1;
        max-height: 300px;
        min-width: 100px;
    }
}