.dropdown__item {
  text-align: center;
}

.app__body {
  max-width: 530px;
  overflow-wrap: break-word;
}

@media screen and (min-width: 767px) {
  .app__body {
    width: 50%;
    overflow: visible;
    height: 400px;
  }

  .app__container {
    display: flex;
    padding: 10px 0px;
    height: 550px;
    justify-content: center;
  }
  .accordion-button:not(.collapsed) {
    background-color: white !important;
    border: none !important;
  }
  .accordion-button:focus {
    border: none !important;
  }
}
