.cards {}

#card--about {
    margin-top: 0px;
}

.card {
    margin: 10px 0px;
    // color: red;
}

.img__social {
    width: 30px;
}

.card--warning {
    color: red !important;
    font-weight: bold;
}

.card-header {
    color: #3F3F3F;
    font-style: italic;
}