// @import '../../scss/custom.scss';
.navLogo {
    color: #BE5C34;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
.navLogo:hover {
    color: #BE5C34;
}

.navbar {
    padding: 0px 10px;
   img {
    margin-left: 20px;
   }
}

