// @import '../../scss/custom.scss';
.navLogo {
  color: #be5c34;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  flex: 0 0 25%;
  margin: 0;
}

.nav-btn {
  border: none;
}

.nav-img-link {
  height: 30px;
}

.navbar {
  padding: 0px 10px;
  img {
    height: 100%;
    width: 100%;
  }
  .profile-img:hover {
    background-color: lightgray;
  }
  .cart-img:hover {
    background-color: lightgray;
  }
}
